@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;600&display=swap");

:root {
  --text-black: #1b1b1b;
  --text-blue: #4070f4;
  --font-primary: "Poppins", sans-serif;
  --font-logo: "Pacifico", cursive;
  --white: #fff;
}

* {
  font-family: var(--font-primary);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}
